### Task2 : To scrape the Pokemon table from bellow website

In [1]:
import requests

In [2]:
pok_data = requests.get("https://pokemondb.net/pokedex/all")

In [3]:
print(type(pok_data))

<class 'requests.models.Response'>

In [29]:
# print(pok_data.content)

### Parse the website using BeautifulSoup tool

In [5]:
from bs4 import BeautifulSoup as soup

In [6]:
pok_soup = soup(pok_data.text, 'html.parser')

In [28]:
# print(pok_soup.prettify)

In [8]:
print(pok_soup.findAll('h1'))

[<h1>Complete Pokémon Pokédex</h1>]

In [9]:
print(pok_soup.findAll(['h1','h2']))

[<h1>Complete Pokémon Pokédex</h1>]

In [14]:
pok_table = pok_soup.findAll('table',{})
print(len(pok_table))

1

In [15]:
table = pok_table[0]

### Extract Useful Information
- Remove undesired tags
- Extract table header & data

In [17]:
header = table.findAll('th')
print(len(header))

10

In [18]:
column_title = [ct.text for ct in header]
print(column_title)

['#', 'Name', 'Type', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']

In [19]:
row_data = table.findAll('tr')[1:]
print(len(row_data))
first_row = row_data[0].findAll('td',{})
for d in first_row:
    print(d.text)

1045
001
Bulbasaur
Grass Poison
318
45
49
49
65
65
45

In [20]:
row_data = table.findAll('tr')[1:]
print(len(row_data))
Sec_row = row_data[1].findAll('td',{})
for d in Sec_row:
    print(d.text)

1045
002
Ivysaur
Grass Poison
405
60
62
63
80
80
60

In [21]:
column_data = []
for row in row_data:
    column_row = []
    row_data = row.findAll('td',{})
    for idx,data in enumerate(row_data):
        if idx == 1 or idx == 2:
            p = data.text
            p = p.replace(',','')
            column_row.append(p)
        else:
            column_row.append(data.text)
    column_data.append(column_row)

In [27]:
 # print(column_data)

### Convet the Extracted Data in CSV Format

In [23]:
filename = 'Pokemon Table.csv'
with open(filename, 'w', encoding = 'utf-8') as f:
    # Write the header
    header_string = ','.join(column_title)
    header_string += '\n'
    f.write(header_string)
    
    for row in column_data:
        row_string = ','.join(row)
        row_string += '\n'
        f.write(row_string)

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("Pokemon Table.csv")

In [26]:
df.head(n=10)

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,309,39,52,43,60,50,65
5,5,Charmeleon,Fire,405,58,64,58,80,65,80
6,6,Charizard,Fire Flying,534,78,84,78,109,85,100
7,6,Charizard Mega Charizard X,Fire Dragon,634,78,130,111,130,85,100
8,6,Charizard Mega Charizard Y,Fire Flying,634,78,104,78,159,115,100
9,7,Squirtle,Water,314,44,48,65,50,64,43

### For Accessing the data in Data frame

In [32]:
print(df.iloc[0][1])

Bulbasaur

In [33]:
print(df.iloc[1][2])

Grass Poison