### Task4 : To scrape the Fantasy Football Leaders (2015 fantasypros.com

In [2]:
import requests

In [3]:
player_list = requests.get("https://www.fantasypros.com/nfl/reports/leaders/qb.php?year=2015")

In [67]:
# print(player_list.content)

### Parse the website using BeautifulSoup tools

In [6]:
from bs4 import BeautifulSoup as soup

In [11]:
list_soup = soup(player_list.text,"html.parser")

In [66]:
# print(list_soup.prettify)

In [36]:
table =list_soup.findAll("table", {})
print(len(list_table))

1

In [37]:
print(list_soup.findAll("h1"))

[<h1>Fantasy Football Leaders (2015)</h1>]

In [38]:
print(list_soup.findAll(["h1","h2"]))

[<h2>Loading your leagues</h2>, <h1>Fantasy Football Leaders (2015)</h1>]

In [65]:
list_table = table[0]
# print(list_table)

### Extract Useful Information
- Remove undesired tags
- Extract table header & data

In [40]:
list_header = list_table.findAll("th")
print(list_header[1].text)

Player

In [41]:
print(len(list_header))

6

In [42]:
col_title = [ct.text for ct in list_header]
print(col_title)

['Rank', 'Player', 'Team', 'Points', 'Games', 'Avg']

In [46]:
row_data = list_table.findAll("tr")[1:]
print(len(row_data))

76

In [47]:
first_row = row_data[0].findAll("td",{})
for f in first_row:
    print(f.text)

1
Cam Newton
NE
389.08
16
24.32

In [48]:
second_row = row_data[1].findAll("td",{})
for s in second_row:
    print(s.text)

2
Tom Brady
TB
343.70
16
21.48

In [49]:
column_data = []
for row in row_data:
    column_row = []
    row_data = row.findAll('td',{})
    for idx,data in enumerate(row_data):
        if idx == 3 or idx == 5:
            p = data.text
            p = p.replace(',','')
            column_row.append(p)
        else:
            column_row.append(data.text)
    column_data.append(column_row)

In [51]:
print(len(column_data))

76

### Convet the Extracted Data in CSV Format

In [56]:
filename = 'Fantasy Football Leaders.csv'
with open(filename, 'w', encoding = 'utf-8') as f:
    # Write the header
    header_string = ','.join(col_title)
    header_string += '\n'
    f.write(header_string)
    
    for row in column_data:
        row_string = ','.join(row)
        row_string += '\n'
        f.write(row_string)

In [57]:
import pandas as pd

In [59]:
df = pd.read_csv("Fantasy Football Leaders.csv")

In [61]:
df.head(n=10)

   Rank            Player Team  Points  Games    Avg
0     1        Cam Newton   NE  389.08     16  24.32
1     2         Tom Brady   TB  343.70     16  21.48
2     3    Russell Wilson  SEA  336.36     16  21.02
3     4     Blake Bortles  DEN  316.12     16  19.76
4     5     Carson Palmer   FA  309.24     16  19.33
5     6        Drew Brees   NO  306.44     15  20.43
6     7     Aaron Rodgers   GB  301.24     16  18.83
7     8      Kirk Cousins  MIN  293.44     16  18.34
8     9  Matthew Stafford  DET  289.78     16  18.11
9    10       Eli Manning   FA  287.54     16  17.97

### For Accessing the data in Data frame

In [62]:
df.iloc[1]

Rank              2
Player    Tom Brady
Team             TB
Points        343.7
Games            16
Avg           21.48
Name: 1, dtype: object

In [63]:
df.iloc[2][3]

336.36

In [64]:
df.iloc[1][3]

343.7