### Task3 : To scrape the Covid case from wolrdometer website

In [2]:
import requests

In [3]:
Covid_list = requests.get("https://www.worldometers.info/coronavirus/countries-where-coronavirus-has-spread/")

In [4]:
print(type(Covid_list))

<class 'requests.models.Response'>

In [27]:
# print(Covid_list.content)

### Parse the website using BeautifulSoup tool

In [6]:
from bs4 import BeautifulSoup as soup

In [7]:
Covid_soup = soup(Covid_list.text, 'html.parser')

In [26]:
# print(Covid_soup.prettify)

In [9]:
print(Covid_soup.findAll('h1'))

[<h1>Countries where COVID-19 has spread </h1>]

In [10]:
print(Covid_soup.findAll(['h1','h2']))

[<h1>Countries where COVID-19 has spread </h1>, <h2>Coronavirus Worldometer Sections:</h2>]

In [11]:
tables = Covid_soup.findAll('table' , {})
print(len(tables))

1

In [12]:
Covid_table = tables[0]
# print(Covid_table)

### Extract Useful Information
- Remove undesired tags
- Extract table header & data

In [13]:
header = Covid_table.findAll('th')
print(len(header))

4

In [14]:
print(header[2].text)

Deaths

In [15]:
column_title = [ct.text for ct in header]
print(column_title)

['Country', 'Cases', 'Deaths', 'Region']

In [16]:
row_data = Covid_table.findAll('tr')[1:]
print(len(row_data))
first_row = row_data[0].findAll('td',{})
for d in first_row:
    print(d.text)

218
United States
11,698,280
254,315
North America

In [17]:
second_row = row_data[1].findAll('td',{})
for d in second_row:
    print(d.text)

India
8,923,445
131,114
Asia

In [18]:
column_data = []
for row in row_data:
    column_row = []
    row_data = row.findAll('td',{})
    for idx,data in enumerate(row_data):
        if idx == 1 or idx == 2:
            p = data.text
            p = p.replace(',','')
            column_row.append(p)
        else:
            column_row.append(data.text)
    column_data.append(column_row)

In [19]:
print(len(column_data))

218

### Convet the Extracted Data in CSV Format

In [20]:
filename = 'Covid Cases.csv'
with open(filename, 'w', encoding = 'utf-8') as f:
    # Write the header
    header_string = ','.join(column_title)
    header_string += '\n'
    f.write(header_string)
    
    for row in column_data:
        row_string = ','.join(row)
        row_string += '\n'
        f.write(row_string)

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("Covid Cases.csv")

In [23]:
df.head(n=10)

          Country     Cases  Deaths         Region
0   United States  11698280  254315  North America
1           India   8923445  131114           Asia
2          Brazil   5911758  166743  South America
3          France   2036755   46273         Europe
4          Russia   1991998   34387         Europe
5           Spain   1535058   41688         Europe
6  United Kingdom   1410732   52745         Europe
7       Argentina   1329005   36106  South America
8           Italy   1238072   46464         Europe
9        Colombia   1211128   34381  South America

### For Accessing the data in Data frame

In [25]:
print(df.iloc[2][1])

5911758

In [28]:
print(df.iloc[1][2])

131114